{% extends 'security/base.html' %}
{% load static %}
{% block content %}
        <!--============================== Page Banner 1 Section Start ==============================-->
        <div id="page-banner" class="page-title bg-light title-text-dark title-large"style="background-image: url('{% static 'security/images/slider/1.png' %}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-column gap-3" style="padding:70px 0">
                            <div class="title-wrap">
                                <h1 class="page-title mb-0" style="color: white;">Our Clientele</h1>
                            </div>
                          
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <!--============================== Page Banner 1 Section End ==============================-->

        <!--============================== Gallery Section Start ==============================-->
        <div class="full-row px-lg-5">
            <style>.thicker-border {
                border: 3px solid #ddd; /* Set border thickness and color */
                border-radius: 8px; /* Optional: Rounded corners */
                padding: 10px; /* Optional: Space inside the border */
              }</style>
            <div class="container-fluid">
                <div class="row row-cols-xxl-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4 gallery-style-1 transition-all">
                    <div class="col">
                        <div class="entry-wrapper thicker-border d-flex flex-column align-items-center transition-all">
                            <div class="entry-thumbnail-wrapper">
                                <div class="post-thumbnail overflow-hidden overlay-primary">
                                    <img src="{% static 'security/images/clientele/mtngh.png' %}" alt="MTN Ghana">
                                    <div class="position-absolute xy-center">
                                        <div class="overflow-hidden text-center"><a href="{% static 'security/images/clientele/mtngh.png' %}" class="first-push-up" data-fancybox="images" data-caption="Caption for single image"><span class="flaticon-zoom-in flat-30 text-white"></span></a></div>
                                        <div class="text-white text-center overflow-hidden"><a href="" class="second-push-up transation text-white">MTN Ghana</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="entry-wrapper thicker-border d-flex flex-column align-items-center transition-all">
                            <div class="entry-thumbnail-wrapper">
                                <div class="post-thumbnail overflow-hidden overlay-primary">
                                    <img src="{% static 'security/images/clientele/3pl.jpg' %}" alt="3pl">
                                    <div class="position-absolute xy-center">
                                        <div class="overflow-hidden text-center"><a href="{% static 'security/images/clientele/3pl.jpg' %}" class="first-push-up" data-fancybox="images" data-caption="Caption for single image"><span class="flaticon-zoom-in flat-30 text-white"></span></a></div>
                                        <div class="text-white text-center overflow-hidden"><a href="" class="second-push-up transation text-white">3PL</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="entry-wrapper thicker-border d-flex flex-column align-items-center transition-all">
                            <div class="entry-thumbnail-wrapper">
                                <div class="post-thumbnail overflow-hidden overlay-primary">
                                    <img src="{% static 'security/images/clientele/dit_weblogo-e1590527872121-300x88.png' %}" alt="Dalex Institute of Technology">
                                    <div class="position-absolute xy-center">
                                        <div class="overflow-hidden text-center"><a href="{% static 'security/images/clientele/dit_weblogo-e1590527872121-300x88.png' %}" class="first-push-up" data-fancybox="images" data-caption="Caption for single image"><span class="flaticon-zoom-in flat-30 text-white"></span></a></div>
                                        <div class="text-white text-center overflow-hidden"><a href="" class="second-push-up transation text-white">Dalex Institute of Technology</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="entry-wrapper thicker-border d-flex flex-column align-items-center transition-all">
                            <div class="entry-thumbnail-wrapper">
                                <div class="post-thumbnail overflow-hidden overlay-primary">
                                    <img src="{% static 'security/images/clientele/download-g-1.png' %}" alt="Guinness">
                                    <div class="position-absolute xy-center">
                                        <div class="overflow-hidden text-center"><a href="{% static 'security/images/clientele/download-g-1.png' %}" class="first-push-up" data-fancybox="images" data-caption="Caption for single image"><span class="flaticon-zoom-in flat-30 text-white"></span></a></div>
                                        <div class="text-white text-center overflow-hidden"><a href="" class="second-push-up transation text-white">Guinness</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="entry-wrapper thicker-border d-flex flex-column align-items-center transition-all">
                            <div class="entry-thumbnail-wrapper">
                                <div class="post-thumbnail overflow-hidden overlay-primary">
                                    <img src="{% static 'security/images/clientele/Noble.jpg' %}" alt="Noble">
                                    <div class="position-absolute xy-center">
                                        <div class="overflow-hidden text-center"><a href="{% static 'security/images/clientele/Noble.jpg' %}" class="first-push-up" data-fancybox="images" data-caption="Caption for single image"><span class="flaticon-zoom-in flat-30 text-white"></span></a></div>
                                        <div class="text-white text-center overflow-hidden"><a href="" class="second-push-up transation text-white">Noble Trust Microfinance</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="entry-wrapper thicker-border flex-column align-items-center transition-all">
                            <div class="entry-thumbnail-wrapper">
                                <div class="post-thumbnail overflow-hidden overlay-primary">
                                    <img src="{% static 'security/images/clientele/phoenix-insurance-gh-ltd.jpg' %}" alt="phoenix-insurance-gh-ltd">
                                    <div class="position-absolute xy-center">
                                        <div class="overflow-hidden text-center"><a href="{% static 'security/images/clientele/phoenix-insurance-gh-ltd.jpg' %}" class="first-push-up" data-fancybox="images" data-caption="Caption for single image"><span class="flaticon-zoom-in flat-30 text-white"></span></a></div>
                                        <div class="text-white text-center overflow-hidden"><a href="" class="second-push-up transation text-white">phoenix-insurance-gh-ltd</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="entry-wrapper thicker-border d-flex flex-column align-items-center transition-all">
                            <div class="entry-thumbnail-wrapper">
                                <div class="post-thumbnail overflow-hidden overlay-primary">
                                    <img src="{% static 'security/images/clientele/telech-1.png' %}" alt="Ghana Chamber of Communications">
                                    <div class="position-absolute xy-center">
                                        <div class="overflow-hidden text-center"><a href="{% static 'security/images/clientele/telech-1.png' %}" class="first-push-up" data-fancybox="images" data-caption="Caption for single image"><span class="flaticon-zoom-in flat-30 text-white"></span></a></div>
                                        <div class="text-white text-center overflow-hidden"><a href="" class="second-push-up transation text-white">Ghana Chamber of Communications</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="entry-wrapper thicker-border d-flex flex-column align-items-center transition-all">
                            <div class="entry-thumbnail-wrapper">
                                <div class="post-thumbnail overflow-hidden overlay-primary">
                                    <img src="{% static 'security/images/clientele/unilivergh.png' %}" alt="unilivergh">
                                    <div class="position-absolute xy-center">
                                        <div class="overflow-hidden text-center"><a href="{% static 'security/images/clientele/unilivergh.png' %}" class="first-push-up" data-fancybox="images" data-caption="Caption for single image"><span class="flaticon-zoom-in flat-30 text-white"></span></a></div>
                                        <div class="text-white text-center overflow-hidden"><a href="" class="second-push-up transation text-white">unilivergh</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="entry-wrapper thicker-border d-flex flex-column align-items-center transition-all">
                            <div class="entry-thumbnail-wrapper">
                                <div class="post-thumbnail overflow-hidden overlay-primary">
                                    <img src="{% static 'security/images/clientele/vanguard.jpg' %}" alt="vanguard">
                                    <div class="position-absolute xy-center">
                                        <div class="overflow-hidden text-center"><a href="{% static 'security/images/clientele/vanguard.jpg' %}" class="first-push-up" data-fancybox="images" data-caption="Caption for single image"><span class="flaticon-zoom-in flat-30 text-white"></span></a></div>
                                        <div class="text-white text-center overflow-hidden"><a href="" class="second-push-up transation text-white">vanguard Assurance</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!--============================== Gallery Section End ==============================-->


        {% endblock %}