{% extends 'security/base.html' %}
{% load static %}
{% block content %}


        <!--============================== Page Banner 1 Section Start ==============================-->
        <div id="page-banner" class="page-title bg-light title-text-dark title-large"style="background-image: url('{% static 'security/images/slider/1.png' %}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-column gap-3" style="padding:70px 0">
                            <div class="title-wrap">
                                <h1 class="page-title mb-0" style="color: white;">Contact Us</h1>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--============================== Page Banner 1 Section End ==============================-->

    <!--============================== Contact section start ==============================-->
    <div class="full-row">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-8">
                    <div class="bg-gray p-5">
                        <h2 class="mb-4 down-line-primary">Get In Touch</h2>
                        <span class="d-table mb-4 fs-18 fst-italic"></span>
                        <form id="contact-form" class="contact_message" method="POST">
                            {% csrf_token %}
                            <div class="row g-4">
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" id="name" name="name" placeholder="Name"
                                        type="text">
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" id="email" name="email" placeholder="Email Address"
                                        type="text">
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <input class="form-control" id="subject" name="subject" placeholder="Subject"
                                        type="text">
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <textarea class="form-control" id="message" rows="5" name="message"
                                        placeholder="Message"></textarea>
                                </div>
                                <div class="col-md-12 col-sm-6">
                                    <input class="btn btn-primary-filter" id="send" value="Send Message" type="submit">
                                </div>
                                <div class="col-md-12">
                                    <div class="error-handel">
                                        <div id="success">Your email sent Successfully, Thank you.</div>
                                        <div id="error"> Error occurred while sending email. Please try again later.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-detail p-5 text-white bg-dark">
                        <h3 class="down-line-primary mb-4 text-white">Get In Touch</h3>
                        <span class="d-table mb-4 fs-18 fst-italic"></span>
                        <div class="mb-4">
                            <span class="text-primary">Phone Number</span>
                            <p>(+233 30 393 3851) <br> (+233 50 332 6200)</p>
                        </div>
                        <div class="mb-4">
                            <span class="text-primary">E-Mail</span>
                            <p>Info@stillforceconsult.com <br></p>
                        </div>
                        <div class="mb-4">
                            <span class="text-primary">Address</span>
                            <p>DTD 22, Near Cocca Cola Roundabout, Spintex Rd, Accra-Ghana</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--============================== Contact section start ==============================-->



{% endblock %}