{% extends 'security/base.html' %}
{% load static %}
{% block content %}
        <!--============================== Page Banner 1 Section Start ==============================-->
        <div id="page-banner" class="page-title bg-light title-text-dark title-large" style="background-image: url('assets/images/background/17.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-column gap-3" style="padding:70px 0">
                            <div class="title-wrap">
                                <h1 class="page-title mb-0">Service Details</h1>
                            </div>
                            <nav>
                                <ol class="breadcrumb mb-0 greater-than">
                                    <li class="breadcrumb-item"><a href="index.html" class="text-secondary hover-text-primary">Home</a></li>
                                    <li class="breadcrumb-item"><a href="service.html" class="text-secondary hover-text-primary">Service</a></li>
                                    <li class="breadcrumb-item"><span style="color:#6c757d;" class="last">Service Details</span></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============================== Page Banner 1 Section End ==============================-->

        <!--============================== Our story every year Section Start ==============================-->
        <div class="full-row">
            <div class="container">
                <div class="row g-5">
                    <div class="col-md-4">
                        <div class="inner-sidebar">
                            <div class="sidebar-nav widget">
                                <ul>
                                    <li><a href="investigation.html">Investigation</a></li>
                                    <li><a href="tracking.html">Tracking / Alarm Systems</a></li>
                                    <li><a href="#">CCTV Installation & Access Control</a></li>
                                    
                                    <li><a href="sales.html">Sales of Gadgets</a></li>
                                    <li><a href="security.html">Security Training / Consultancy</a></li>
                                    <li><a href="dept.html">Dept Recovery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <img src="assets/images/thumb/width-33.png" alt="image not found!">
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12 wow animate__fadeIn" data-wow-delay="100ms" data-wow-duration="1000ms">
                                <h4 class="down-line-primary text-secondary text-start mb-20">Service Advantage</h4>
                                <p>Still Force Consults offers a wide range of premium security gadgets and electronic equipment tailored to modern needs. We source durable, high-quality products from trusted brands and ensure they meet global standards. Our product categories include:</p>
                            </div>
                        </div>
                        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 gy-5 thumb-style-4">
                            <div class="col">
                                <div class="entry-wrapper d-flex flex-column align-items-center text-center transition-all">
                                    <div class="entry-thumbnail-wrapper">
                                        <div class="post-thumbnail overflow-hidden box-140">
                                            <i class="icon flaticon-business-and-finance flat-45 text-white"></i>
                                        </div>
                                    </div>
                                    <div class="entry-content-wrapper pt-20">
                                        <div class="entry-header">
                                            <h4 class="entry-title text-secondary mb-20">Surveillance Cameras & DVR Systems</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p>From indoor cameras to outdoor weather-resistant models, offering clear video footage.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="entry-wrapper d-flex flex-column align-items-center text-center transition-all">
                                    <div class="entry-thumbnail-wrapper">
                                        <div class="post-thumbnail overflow-hidden box-140">
                                            <i class="icon flaticon-protect flat-45 text-white"></i>
                                        </div>
                                    </div>
                                    <div class="entry-content-wrapper pt-20">
                                        <div class="entry-header">
                                            <h4 class="entry-title text-secondary mb-20">Biometric Devices</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p>For secure access control, time tracking, and personnel management. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="entry-wrapper d-flex flex-column align-items-center text-center transition-all">
                                    <div class="entry-thumbnail-wrapper">
                                        <div class="post-thumbnail overflow-hidden box-140">
                                            <i class="icon flaticon-insurance-1 flat-45 text-white"></i>
                                        </div>
                                    </div>
                                    <div class="entry-content-wrapper pt-20">
                                        <div class="entry-header">
                                            <h4 class="entry-title text-secondary mb-20">GPS Trackers:</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p>Compact and efficient devices for vehicles, personal safety, or asset monitoring.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="entry-wrapper d-flex flex-column align-items-center text-center transition-all">
                                    <div class="entry-thumbnail-wrapper">
                                        <div class="post-thumbnail overflow-hidden box-140">
                                            <i class="icon flaticon-insurance-1 flat-45 text-white"></i>
                                        </div>
                                    </div>
                                    <div class="entry-content-wrapper pt-20">
                                        <div class="entry-header">
                                            <h4 class="entry-title text-secondary mb-20">Burglar and Fire Alarms</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p>Comprehensive systems with automatic alerts for smoke, fire, or intrusion detection.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="entry-wrapper d-flex flex-column align-items-center text-center transition-all">
                                    <div class="entry-thumbnail-wrapper">
                                        <div class="post-thumbnail overflow-hidden box-140">
                                            <i class="icon flaticon-insurance-1 flat-45 text-white"></i>
                                        </div>
                                    </div>
                                    <div class="entry-content-wrapper pt-20">
                                        <div class="entry-header">
                                            <h4 class="entry-title text-secondary mb-20">Background Checks</h4>
                                        </div>
                                        <div class="entry-content">
                                            <p>Walkie-Talkies & Communication Gadgets

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!--============================== Our story every year Section End ==============================-->

       
{% endblock %}