{% extends 'security/base.html' %}
{% load static %}
{% block content %}
        <!--============================== Page Banner 1 Section Start ==============================-->
        <div id="page-banner" class="page-title bg-light title-text-dark title-large" style="background-image: url('assets/images/background/17.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-column gap-3" style="padding:70px 0">
                            <div class="title-wrap">
                                <h1 class="page-title mb-0">Terms & Condition</h1>
                            </div>
                            <nav>
                                <ol class="breadcrumb mb-0 greater-than">
                                    <li class="breadcrumb-item"><a href="index.html" class="text-secondary hover-text-primary">Home</a></li>
                                    <li class="breadcrumb-item"><span class="text-secondary">Pages</span></li>
                                    <li class="breadcrumb-item"><span style="color:#6c757d;" class="last">Terms & Condition</span></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============================== Page Banner 1 Section End ==============================-->

        <!--============================ Support article section start ============================-->
        <div class="full-row">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-4 col-md-5">
                        <div class="bg-light p-5">
                            <ul class="list-number list-color-general hover-list-color-primary d-flex flex-column gap-0">
                                <li><a href="#">User Agreement</a></li>
                                <li><a href="#">Authorization Agreement</a></li>
                                <li><a href="#">Our Privacy Policy</a></li>
                                <li><a href="#">Membership Agreement and Terms</a></li>
                                <li><a href="#">Payment System and Police</a></li>
                                <li><a href="#">Proprietary Rights Infringement</a></li>
                                <li><a href="#">Cloud Security License Agreement</a></li>
                                <li><a href="#">Computer Security Terms of Use</a></li>
                                <li><a href="#">Money Refund Instructions</a></li>
                                <li><a href="#">Career and Joining Condition</a></li>
                                <li><a href="#">Shopping and Product Delevery</a></li>
                                <li><a href="#">Terms of Office Security Service</a></li>
                                <li><a href="#">Complaint and Objection</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <h2 class="down-line-primary mb-3">User Agreement</h2>
                        <p>Volutpat aliquet litora primis, egestas lobortis habitant dictum Mollis consectetuer. Cum, pharetra neque dignissim vestibulum velit, ultricies habitasse. Tempus nisi ad massa nostra bibendum sit ligula. Cras sociosqu penatibus
                            nisi aenean ante conubia ante rhoncus vivamus.</p>
                        <p>Semper dapibus. Quisque pulvinar. Ullamcorper nonummy. Nullam. Aliquet nunc morbi ante est. Libero nascetur hendrerit sociis pulvinar mi faucibus orci. Egestas ornare, orci, urna neque lobortis fermentum id justo scelerisque nullam
                            ac ultrices enim <a href="#">curabitur venenatis accumsan</a> at torquent risus scelerisque praesent cum erat, tristique aptent parturient eu consequat torquent vehicula aptent inceptos ac nostra sed vivamus Porta faucibus
                            enim eget felis dapibus mollis.</p>
                        <p>Sem senectus mauris vel pellentesque odio ac platea turpis. Orci dictum ac lobortis, velit ante nunc aenean nibh. Augue iaculis. Justo nibh magnis imperdiet pede nisi erat, velit Tempus odio neque nonummy rhoncus consequat at turpis
                            nibh nostra ullamcorper porta risus sagittis nisl donec semper senectus, suspendisse ridiculus mauris eu diam aliquet velit primis. Dapibus massa felis felis. Vestibulum nisi ultrices dui aenean maecenas. Dis laoreet netus
                            sed adipiscing nulla. Suscipit nulla. Iaculis venenatis pharetra ullamcorper leo mattis eu sed dolor posuere Nisl mollis scelerisque etiam. Aliquet morbi sollicitudin. Dui vestibulum vivamus nec praesent Varius netus iaculis
                            Porttitor dui aliquet libero nisi scelerisque ridiculus vulputate vitae, porta fermentum platea malesuada ligula cras morbi ultricies ac adipiscing. Aenean leo odio. Diam montes diam. Inceptos nonummy fermentum, magna velit
                            curabitur.
                        </p>
                        <h2 class="down-line-primary my-3">The Deals and Agreement</h2>
                        <p>Dignissim pharetra cursus porttitor convallis hymenaeos consectetuer Ultricies. Vehicula vivamus. Ante ornare donec torquent senectus mi ac placerat conubia. Magna tincidunt aptent convallis quam habitant lacus etiam elit. Erat
                            a sapien penatibus integer quisque placerat tempor cursus elit metus, at potenti nunc ullamcorper.</p>
                        <p>Nullam volutpat ultricies mus fringilla euismod ullamcorper litora et, lobortis taciti placerat. Fringilla congue Vitae hymenaeos justo vehicula Egestas laoreet vehicula nulla tempus. Blandit. Duis pellentesque etiam eget egestas
                            felis rutrum class tellus placerat pede porttitor suspendisse sociis, ad platea. Penatibus mus ligula lectus nulla. Sociis mi fermentum porta mus sociosqu integer justo sit hac luctus aptent.</p>
                        <ul class="list-circle my-3">
                            <li>Dignissim pharetra cursus porttitor convallis hymenaeos consectetuer.</li>
                            <li>Ante ornare donec torquent senectus mi ac placerat conubia.</li>
                            <li>Magna tincidunt aptent convallis quam habitant lacus etiam elit.</li>
                            <li>Erat a sapien penatibus integer quisque placerat tempor cursus metus, at potenti nunc ullamcorper.</li>
                            <li>Nullam volutpat ultricies mus fringilla euismod ullamcorper litora et, lobortis taciti placerat.</li>
                        </ul>
                        <p>Dignissim pharetra cursus porttitor convallis hymenaeos consectetuer Ultricies. Vehicula vivamus. Ante ornare donec torquent senectus mi ac placerat conubia. Magna tincidunt aptent convallis quam habitant lacus etiam elit. Erat
                            a sapien penatibus integer quisque placerat tempor cursus elit metus, at potenti nunc ullamcorper.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--============================== Support article section end ==============================-->

        <!--============================== Footer 1 Section Start ==============================-->
        <footer class="full-row bg-footer text-light">
            <div class="container">
                <div class="row row-cols-lg-3 row-cols-1 gy-5 xxs-link-single">
                    <div class="col">
                        <div class="footer-widget">
                            <div class="footer-logo mb-4">
                                <a href="#"><img src="assets/images/logo/1.png" alt="Image not found!"></a>
                            </div>
                            <p>Bibendum nisi, quam varius tristique, dictum lobortis, pellentesque donec purus eu facilisis suspendisse quie integer. Facilisis integer commodo ipsum congue noi adipiscing mi aliquet, fringilla quisque. Rhoncus porttitor feugiat
                                malesuada, luctus. Vel cum quisque id conubia curae; hymenaeos aenean mauris.</p>
                        </div>
                        <div class="footer-widget">
                            <div class="transparent-social-media-1 list-color-light hover-list-color-primary hyperlink-mr-20">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-google-plus"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget widget-link-double">
                            <h4 class="widget-title text-white mb-4">Page Links</h4>
                            <ul>
                                <li><a href="about.html"><span class="text">About Company</span></a></li>
                                <li><a href="#"><span class="text">Payment System</span></a></li>
                                <li><a href="terms-and-condition.html"><span class="text">Terms and Conditions</span></a></li>
                                <li><a href="our-history.html"><span class="text">Company History</span></a></li>
                                <li><a href="#"><span class="text">Consultation</span></a></li>
                                <li><a href="career.html"><span class="text">Careers</span></a></li>
                                <li><a href="how-it-work.html"><span class="text">How It Work</span></a></li>
                                <li><a href="#"><span class="text">Event Coverage</span></a></li>
                                <li><a href="#"><span class="text">Emeargency Support</span></a></li>
                                <li><a href="#"><span class="text">Technology Support</span></a></li>
                                <li><a href="#"><span class="text">Guard Supply</span></a></li>
                                <li><a href="#"><span class="text">Trasted Partner</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget widget-newsletter">
                            <h4 class="widget-title text-white mb-4">Newslatter</h4>
                            <p>Subscribe to our news and get most important industry news</p>
                            <div class="outline-form-style-1 newsletter-number mt-30">
                                <form class="form-outline square-shape" action="#" method="post">
                                    <input type="text" class="form-control input-field bg-light" name="search" placeholder="Email Address">
                                    <button type="submit" name="submit" class="submit text-white bg-primary">Subscribes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--============================== Footer 1 Section End ==============================-->
{% endblock %}